/* userPage1 Style */
p, h1, h2, h3, h4, h5, h6, button {
    font-family: Georgia, serif;
}

a:link { 
    text-decoration: none;
}
a:visited { 
    text-decoration: none; 
    color:black;
    background-color: none;
}
a:hover { 
    text-decoration: none; 
    color: grey;
}
a:active { text-decoration: none; }

body {
    background-color: #edf2fb; 
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: Georgia, serif;
    margin: 0px;

}

hr {
    border: none;
    border-top: 5px dotted 	#787878;
    width: 70%;
}

li{
    text-align: left;
    line-height: 20px;
}


/*  NAV BAR STYLING  -  START */
.nav-bar {
    width: 100%;
    height: 70px;
    display: inline-block;
    background-color: #c1d3fe;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 5px;
    position: fixed;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 50%;
    width: 350px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.navContainer{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

/*  NAV BAR STYLING  -  END */

/*  ABOUT STYLING  -  START */
.aboutMeContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #7d7d7d;
}

.item{
    width: 600px;
    height: 250px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*  ABOUT STYLING  -  START */

/*  Work Expereince & Education  -  START */

.Work_EduConatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    color: #7d7d7d;
}

.workItem{
    width: 550px;
    height: 250px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.eduItem{
    width: 400px;
    height: 250px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*  Work Expereince & Education  -  END */

/* HOBBIES STYLING - START */

.hobbyConatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    color: #7d7d7d;
}

.hobbyItem{
    width: 400px;
    height: 400px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* HOBBIES STYLING - END */

/* PROJECT STYLING - START */
.projectContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    color: #7d7d7d;
}

.projectItem{
    width: 400px;
    height: 400px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* PROJECT STYLING - END */

.break {
    flex-basis: 100%;
    height: 0;
  }

.title{
    font-family: Arial, Helvetica, sans-serif;
    color: #71a5de;
}

.date{
    font-size: 14px;
}

.text{
    color: #A9A9A9;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

