/* userPage1 Style */
p, h1, h2, h3, h4, h5, h6, button {
    font-family: Georgia, serif;
}

a:link { 
    text-decoration: none;
}
a:visited { 
    text-decoration: none; 
    color:black;
    background-color: none;
}
a:hover { 
    text-decoration: none; 
    color: grey;
}
a:active { text-decoration: none; }

body {
    background-color: #edf2fb; 
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: Georgia, serif;
    margin: 0px;

}

hr {
    border: none;
    border-top: 5px dotted 	#787878;
    width: 70%;
}

li{
    text-align: left;
    line-height: 20px;
}


/*  ABOUT STYLING  -  START */
.aboutMeContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #7d7d7d;
}

.item{
    width: 600px;
    height: 250px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*  ABOUT STYLING  -  START */

/*  Work Expereince & Education  -  START */

.Work_EduConatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    color: #7d7d7d;
}

.workItem{
    width: 550px;
    height: 250px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.eduItem{
    width: 400px;
    height: 250px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*  Work Expereince & Education  -  END */

/* HOBBIES STYLING - START */

.hobbyConatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    color: #7d7d7d;
}

.hobbyItem{
    width: 400px;
    height: 400px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* HOBBIES STYLING - END */

/* PROJECT STYLING - START */
.projectContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    color: #7d7d7d;
}

.projectItem{
    width: 400px;
    height: 400px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* PROJECT STYLING - END */

/* CONTACT ME PAGE - START */


*::after,
*::before {
    padding: 0;
    margin: 0;
}

:root {
    --grey-color: #666;
    --dar-blue-color: hsl(223deg 57% 12%);
    --medium-font-size: 20px;
    --small-font-size: 16px;
}


.contactContainer {
    max-width: 1050px;
    width: 85%;
    margin: auto;
}


/* -======= Contact =====- */

.contact {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: var(--primary-color);
}

.cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
}

contact-text {
    flex-basis: 48%;
}

.contact-text p {
    font-size: 28px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.contact-text h6,
.contact-text .address,
.contact-text .mail {
    font-size: var(--medium-font-size);
}

.contact-text h6 {
    color: var(--dar-blue-color);
}

.contact-form {
    flex-basis: 45%;
    margin-right:35px;
}

.cont .contact-form form {
    display: flex;
    flex-direction: column;
}

.cont .contact-form form label {
    font-size: var(--medium-font-size);
    padding: 8px 0;
}

.cont .contact-form form input,
.cont .contact-form form textarea {
    font-size: var(--medium-font-size);
    padding: 8px 0;
    resize: none;
    margin: 6px 0;
    border-radius: 12px;
    outline: none;
    border: 2px solid var(--grey-color);
}

.cont .contact-form form input[type="submit"] {
    margin: 16px 0;
    width: 20%;
    cursor: pointer;
    border: 2px solid var(--dar-blue-color);
    font-size: var(--medium-font-size);
    background-color: var(--dar-blue-color);
    color: var(--primary-color);
    font-weight: 400;
    transition: 0.4s;
}

.cont .contact-form form input[type="submit"]:hover {
    background-color: var(--primary-color);
    color: var(--dar-blue-color);
    font-weight: 400;
}


/* -======= Media Queriers =====- */

@media (max-width: 400px) {
    .cont {
        display: block;
        flex-direction: column;
    }
    .contact {
        padding-top: 0;
    }
    .cont .contact-form form input,
    .cont .contact-form form textarea {
        width: 100%;
    }
    .cont .contact-form form input[type="submit"] {
        width: 20%;
        font-size: var(--small-font-size);
    }
    .contact-text p {
        margin-right: 0;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    .cont {
        display: block;
        flex-direction: column;
    }
    .contact {
        padding-top: 0;
    }
    .cont .contact-form form input,
    .cont .contact-form form textarea {
        width: 100%;
    }
    .cont .contact-form form input[type="submit"] {
        width: 20%;
        font-size: var(--small-font-size);
    }
    .contact-text p {
        margin-right: 0;
    }
}
/* CONTACT ME PAGE - END */

.break {
    flex-basis: 100%;
    height: 0;
  }

.title{
    font-family: Arial, Helvetica, sans-serif;
    color: #71a5de;
}

.date{
    font-size: 14px;
}

.text{
    color: #A9A9A9;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}


/* BOOTSTRAP NAV BAR */
/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #71a5de;
}

.nav div.main_list {
    height: 60px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 20px;
}

.nav div.main_list ul li a:hover {
    color: #71a5de;
}


.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 700px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #A9A9A9;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #A9A9A9;
}






.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

