{% extends "sree_hobbies.html" %}
{% block books %}
<ul>
  <li>The Fountainhead by Ayn Rand</li>
  <li> The Opposite of Loneliness by Marina Keegan</li>
  <li>Born a Crime by Trevor Noah</li>
  <li>Outliers by Malcolm Gladwell</li>
  <li>Why not me? by Mindy Kaling</li>
  <li>How Remarkable Women Lead by Joanna Barsh</li>
  <li>The Design of Everyday Things by Don Norman</li>
  <li>Between Two Kingdoms by Suleika Jaouad</li>
  <li>Educated by Tara Westover</li>
  <li>The Code by Margaret O'Mara</li>
  <li>The Education of an Idealist by Samantha Power</li>
  <li>When Breath Becomes Air by Paul Kalanithi</li>
  <li>Molly's Game by Molly Bloom</li>
  <li>A Tree Grows in Brooklyn by Betty Smith</li>
  <li> The Catcher in the Rye by J. D. Salinger</li>

</ul>
{% endblock %}
{% block movies %}
<ul>
  <li>Silicon Valley </li>
  <li> Little Women</li>
  <li> Suits</li>
  <li> Little Miss Sunshine</li>
  <li> Succession </li>
  <li> The Glass Castle </li>
  <li> The Shawshank Redemption</li>
  <li> Anthony Bourdain: Parts Unknown</li>
  <li> Harry Potter</li>
  <li>The Social Network </li>
  <li>The Big Short</li>

</ul>
{% endblock %}
