{% extends "caroline_hobbies.html" %}
{% block schoolHobbies %}
<div class = "user1HobbyConatiner">
    <div class = "user1HobbyConatiner">
        <br><br>
        <div class = "hobbyItem">
            <img style = "height: 200px; width: 200px; border-radius: 100%;" src="./static/img/cereB.png">
            <br><br><strong style = "font-size: 20px"><a href="https://www.mdc.edu/">Participate in Hackathons</a></strong>
            <br><em> Hackathons are a great way to gain experience and work on projects. Caroline's favorite hackathon is Athena Hacks were she build. <a href = "https://devpost.com/software/cereb"> cereB</a> a website help build healthy study habits. </a></em>
        </div>
        <br><br>
        <div class = "hobbyItem">
            <img style = "height: 200px; width: 200px; border-radius: 100%;" src="./static/img/blockchain.jpg">
            <br><br><strong style = "font-size: 20px"><a href="https://www.usc.edu/">Learning about Blockchain</a></strong>
            <br><em> Caroline spends time learning about the blockchain, writing smart contracts in Solidity, and tracking crypto currencies. </a></em>
        </div>
        <br><br>
        <div class = "hobbyItem">
            <img style = "height: 200px; width: 200px; border-radius: 100%;" src="./static/img/swe.png">
            <br><br><strong style = "font-size: 20px"><a href="https://www.usc.edu/">working with Society of Women Engineers</a></strong>
            <br><em> Society of Women Engineers is a club at USC that promotes women in the engineering field through hosting networking events, speakers, and  other fun events</a></em>
        </div>
        <div class = "break"></div>
        <div class = "hobbyItem">
            <img style = "height: 200px; width: 200px; border-radius: 100%;" src="./static/img/soccer.jpg">
            <br><br><strong style = "font-size: 20px"><a href="https://gomakos.org/">Play Soccer</a></strong>
            <br><em> Caroline is part of the USC Womens Club Soccer Team. </em>
        </div>
        <br><br>
        <div class = "hobbyItem">
            <img style = "height: 200px; width: 200px; border-radius: 100%;" src="./static/img/hike.jpg">
            <br><br><strong style = "font-size: 20px"><a href="https://gomakos.org/">Hike</a></strong>
            <br><em> Caroline enjoys to get outdoors and go on hike. <br> Her favorite places to hike are Telluride CO, Sedona AZ, and Topanga CA. </em>
        </div>
        <br><br>
        <div class = "hobbyItem">
            <img style = "height: 200px; width: 200px; border-radius: 100%;" src="./static/img/yoga.jpg">
            <br><br><strong style = "font-size: 20px"><a href="https://gomakos.org/">do Yoga</a></strong>
            <br><em> Caroline enjoys practcing yoga to better her mind body connection, reduce stress, and improve her health.</em>
        </div>
        <br><br>
{% endblock %}
{% block funHobbies %}

{% endblock %}