{% extends "projects.html" %}
{% block projects %}
<div class = "projectConatiner">
    <div class = "projectConatiner">
        <br><br>
        <div class = "projectItem">
            <img style = "height: 200px; width: 200px; border-radius: 100%;" src="./static/img/cereB.png">
            <br><br><strong style = "font-size: 20px"><a href="https://www.mdc.edu/">Participate in Hackathons</a></strong>
            <br><em> Hackathons are a great way to gain experience and work on projects. Caroline's favorite hackathon is Athena Hacks were she build. <a href = "https://devpost.com/software/cereb"> cereB</a> a website help build healthy study habits. </a></em>
        </div>


    </div>
</div>
{% endblock %}