{% extends "projects.html" %}
{% block projects %}
<div class = "hobbyConatiner">
    <div class = "hobbyConatiner">
        <br><br>
        <div class = "hobbyItem">
            <img style = "height: 200px; width: 200px; border-radius: 100%;" src="./static/img/cereB.png">
            <br><br><strong style = "font-size: 20px"><a href="http://cerebw.tech/src/pages/">CereB</a></strong>
            <br><em><a href = "https://devpost.com/software/cereb"> cereB</a> is a website to help build healthy study habits. </a></em>
            <br><p>Technologies Used: </p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>Java Script</li>
                <li>Apple Music API</li>
            </ul>
        </div>
        <br><br>
        <div class = "hobbyItem">
            <img style = "height: 200px; width: 200px; border-radius: 100%;" src="./static/img/newsic.png">
            <br><br><strong style = "font-size: 20px"><a href="https://www.youtube.com/watch?v=PVBXD-tL73s&feature=youtu.be">Newsic</a></strong>
            <br><em><a href = ""> Newsic</a> is a music social media website to help you discover new music. </a></em>
            <br><p>Technologies Used: </p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>Java Script</li>
                <li>Itunes API</li>
                <li>Google API</li>
                <li>MySQL</li>
                <li>jQuery</li>
                <li>Java</li>
                <li>Figma</li>
                <li>Multithreading</li>
            </ul>
        </div>
        <br><br>
        <div class = "hobbyItem">
            <img style = "height: 200px; width: 200px; border-radius: 100%;" src="./static/img/salEats.png">
            <br><br><strong style = "font-size: 20px"><a href="">SalEats</a></strong>
            <br><em><a href = ""> SalEats</a> is a website to help you find restaurants based on your preferences. </a></em>
            <br><p>Technologies Used: </p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java Script</li>
                <li>Google API</li>
                <li>MySQL</li>
                <li>Java</li>
                <li>HTTP Handling</li>
                <li>JDBC</li>
                <li>Java Servlets</li>
            </ul>
        </div>
        <div class = "break"></div>
    </div>
</div>
{% endblock %}