{% extends "projects.html" %}
{% block projects %}
<div class = "projectConatiner">
    <div class = "projectConatiner">
        <br><br>
        <div class = "projectItem">
            <img style = "height: 200px; width: 200px; border-radius: 100%;" src="./static/img/cereB.png">
            <br><br><strong style = "font-size: 20px"><a href="http://cerebw.tech/src/pages/">CereB</a></strong>
            <br><em><a href = "https://devpost.com/software/cereb"> cereB</a> is a website to help build healthy study habits. </a></em>
        </div>

        <div class = "projectItem">
            <img style = "height: 200px; width: 200px; border-radius: 100%;" src="./static/img/cereB.png">
            <br><br><strong style = "font-size: 20px"><a href="https://www.youtube.com/watch?v=PVBXD-tL73s&feature=youtu.be">Newsic</a></strong>
            <br><em><a href = ""> Newsic</a> is a music social media website to help you discover new music. </a></em>
        </div>
        

    </div>
</div>
{% endblock %}