
{% extends "userPage2.html" %}
{% block we %}
<div>
<div class="title-box-2">

<h5 class="title-left">
    MLH Fellow (June, 2022 - Present)
</h5>
</div>
<p class="lead">
In the Production Engineering Track of the MLH Fellowship, fellows learn the skills needed to keep products like Facebook, WhatsApp, Instagram, and Oculus running. Fellows write code and debug hard problems. By the end of the program, They will gain valuable technical skills and the experience needed for a career in Production Engineering.
</p>
</div>

                          <div class="title-box-2">

                          <h5 class="title-left">
                            Research Student, Swiggy (Feb 2021 - May 2021)

                          </h5>
                      </div>
                      <p class="lead">
                        ● Led a team of 4 students and worked on Spoken Language Identification (SLID) for Code-Mixed Speech Data</br>
                        ● Trained the automatic speech recognition deep learning model with Microsoft code switch dataset (English and Tamil)</br>
                        ● The winning project for the UK-India Education and Research Initiative (UKIERI), 2021
                      </p>

                      <div class="title-box-2">

                      <h5 class="title-left">
                        Web Development Intern, IIM Bangalore, India (Dec 2019 - Jan 2020)

                      </h5>
                  </div>
                  <p class="lead">
                    ● Worked on a digital marketing project as a full-stack web developer to build a complete web application using HTML, CSS, and JavaScript</br>
                    ● Built a website, and was responsible for tasks ranging from designing wireframes to deployment</br>
                    ● The response speed of the application was increased by 75% and making it top-ranked by search engines, and
                    increasing its visibility to reach potential clients
                  </p>
{% endblock %}
{% block ed %}
<div class="title-box-2">

<h5 class="title-left">
    The University of Texas at Dallas (Aug 2021- Expected Graduation: May 2023)
</h5>
</div>
<p class="lead">
Master of Science - MS, Computer Science. CGPA: 4.0/4.0 </br>
 Relevant Coursework: Machine Learning, Web Programming Languages, and Database Design, Data structures and algorithms                            </p>

<div class="title-box-2">

<h5 class="title-left">
Indian Institute of Information Technology Sri City, India (Aug 2017 - June 2021)

</h5>
</div>
<p class="lead">
Bachelor of Technology - BTech, Computer Science and Engineering
</p>
{% endblock %}
