{% extends "userPage1.html" %}
{% block work %}
<div class = "Work_EduConatiner">
    <div class = "workItem">
        <strong style = "font-size: 18px"><a href="https://www.cs.usc.edu/students/information-for-graders-and-course-producers/">USC Introduction to Software Development</a></strong>
        <br><em> <a href = "https://viterbi-web.usc.edu/~adamchik/201/syllabus.pdf"> Course Producer CSCI 201 </a></em>
        <br> <div class = "date">June 2022 - August 2022</div>
        <ul> 
          <div class = "text">
            <li>Lead bi-weekly labs on current course materials including Multithreading, Concurrency, mySQL, JDBC, Network Programming</li>
            <li>Host 10 hours of weekly office hours to support students debug code and understand software development concepts</li>
            <li>Design homeowork/lab assignments, monitor piazza discussion posts, and mentor students' final group projects </li>
          </div>
        </ul>
    </div>
    <div class = "workItem">
        <strong style = "font-size: 18px"><a href="https://mlh.io/">Major League Hacking</a></strong>
        <br><em> <a href = "https://fellowship.mlh.io/"> Production Engineering Fellow </a></em>
        <br> <div class = "date">June 2022 - August 2022</div>
        <ul> 
          <div class = "text">
            <li>Work collaborativley with team memebrs on hackathon projects under mentorship from Meta Production Engineers</li>
            <li>Develop skills needed to keep products like Facebook, WhatsApp, Instagram, and Oculus running</li>
            <li>Complete Linux Foundation Training & Certification's LFS201 – Essentials of System Administration training course which 
                covers how to administer, configure and upgrade Linux systems, along with the tools and concepts necessary to efficiently 
                build and manage a production Linux infrastructure</li>
          </div>
        </ul>
    </div>

    <div class = "break"></div>

    <div class = "workItem">
        <strong style = "font-size: 18px"><a href="https://ripplematch.com/">Ripple Match</a></strong>
        <br><em> Leadership Development Intern</em>
        <br> <div class = "date">September 2021 - December 2021</div>
        <ul> 
          <div class = "text">
            <li>Leverage various growth strategies and tools including social media,
                email marketing, presentations, and peer and faculty member networking to
                grow user base</li>
            <li>Strategically assess growth and performance metrics to improve, change,
                and help design new growth strategies</li>
          </div>
        </ul>
    </div>
    <div class = "workItem">
        <strong style = "font-size: 18px"><a href="https://www.miamibreakersfc.com/">Miami Breakers FC</a></strong>
        <br><em> Head of Recreational Administration </em>
        <br> <div class = "date">May 2019 - March 2020</div>
        <ul>
          <div class = "text">
            <li>Implemented new methods for monthly payments via Microsoft Excel</li>
            <li>Calculated and allocated monthly payroll to employees</li>
            <li>Communicated with parents regarding scheduling, payments, and other
                relevant questions</li>
          </div>
        </ul>
    </div>
</div>
{% endblock %}

{% block edu %}
<div class = "Work_EduConatiner">
    <div class = "eduItem">
        <img style = "height: 100px; width: 100px; border-radius: 100%;" src="./static/img/uscSeal.png">
        <br><br><strong style = "font-size: 20px"><a href="https://www.usc.edu/">University of Southern California</a></strong>
        <br><em> <a href = "https://www.cs.usc.edu/academic-programs/undergrad/computer-science-business-administration/"> B.S. Computer Science & Business Administartion </a></em>
        <br> <div class = "date">December 2023</div>
        <br><em> <a href = "https://www.cs.usc.edu/academic-programs/undergrad/progressive-degree-program/"> Masters of Science in Computer Science  </a></em>
        <br> <div class = "date">Progressive Degree Program</div>
        <div class = "date">December 2024</div>
    </div>
    <div class = "eduItem">
        <img style = "height: 100px; width: 100px; border-radius: 100%;" src="./static/img/mdcSeal.png">
        <br><br><strong style = "font-size: 20px"><a href="https://www.mdc.edu/">Miami Dade Community College</a></strong>
        <br><em> Continous Education </em>
        <br> <div class = "date">December 2020</div>
    </div>
    <div class = "eduItem">
        <img style = "height: 100px; width: 100px; border-radius: 100%;" src="./static/img/mastSeal.jpg">
        <br><br><strong style = "font-size: 20px"><a href="https://gomakos.org/">Maritime and Science Technology Academy</a></strong>
        <br><em> High School Diploma </em>
        <div class = "date">June 2020</div>
    </div>
</div>
{% endblock %}